{% if path %}
<ol class="breadcrumb">
{% for p in path|split('/') %}
{% if p %}
{% set purl = purl ~ '/' ~ p %}
<li><a href="{{purl}}">{{ p }}</a></li>
{% endif %}
{% endfor %}
</ol>
{% endif %}
<div class="col-md-12" id="content">
	<header>
		{% if title %}<h1>{{ title }}</h1>
		{% if author %}
			<em>by <a href="/user/{{author}}">{{author}}</a></em>
			<hr>
		{% endif %}
		{% endif %}
		{{ content|raw }}
	</header>
	<footer>
		{% if tags %}
		Tags : 
		{% for tag in tags %}
			<a href="/tag/{{tag}}"><span class="label label-primary">{{tag}}</span></a> 
		{% endfor %}
		<hr>
		{% endif %}
		{% if showMarkdown %}
		<pre><code class="Markdown">{{ markdown }}</code></pre>
		{% endif %}
		<hr>
		
		{% if disqus == true %}
		<script id="dsq-count-scr" src="//benjaminbaschet.disqus.com/count.js" async></script>
		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function () {
		        this.page.url = "{{ url }}"; 
		        this.page.identifier = "{{ identifier }}"; 
		    };
		    
		    (function() {  
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//sensibilis.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}	
	
	</footer>
</div>