<body>
	{% if forkme %}
	<a href="{{ forkme }}" class="fork-me-on-github"><img src="/static/image/forkme.png" ></a>
	{% endif %}
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<div class="container">
			<div class="navbar-header">
	            <a class="logo-top" href="/" data-toggle="tooltip" data-placement="bottom" title="Sensibilis"><img src="/static/image/phoenix.png" width="50" alt="Sensibilis"/></a>
	        </div>
			<ul class="nav navbar-nav" stop id="listActions">
				<li><a><span class="glyphicon glyphicon-camera"></span></a></li>
				<li><a><span class="glyphicon glyphicon-education"></span></a></li>
				<li><a><span class="glyphicon glyphicon-leaf"></span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
            	<li><a href="{{ constant('ADMIN_URL') }}{{ constant('ADMIN_PATH') }}{{ site }}/edit?path={{ path }}"><span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
		</div>
      	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
	<article class="container">
		{% if path %}
		<ol class="breadcrumb">
		{% for p in path|split('/') %}
		{% if p %}
		<li><a href="#">{{ p }}</a></li>
		{% endif %}
		{% endfor %}
		</ol>
		{% endif %}
		<div class="col-md-12" id="content">
			<header>
				<h1>{{ title }}</h1>
				{% if author %}
					<em>Par {{author}}</em>
				{% endif %}
				<hr>
				{{ content|raw }}
			</header>

			{{ include('footer.html') }}
		</div>
	</article>
</body>