<!DOCTYPE HTML>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml" itemtype="http://schema.org/Article">
	{{ include('head.html') }}
	<body>
		<header class="site-header">
			<h1 class="display-1 text-center">
				<a href="/">Sensibilis</a>
			</h1>
			<p class="lead text-center text-muted">A static website generator</p>
		</header>
		
		<div class="container-fluid row">
			<div class="col-3 well">
				<ul class="nav flex-column sticky-top">
				{% for page in pages %}
					{% set vars = {'page': page} %}
					{% include 'tree.html' with vars %}
				{% endfor %}
				</ul>
			</div>
			<div class="col-9">
				<div class="btn-toolbar sticky-top" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" aria-label="starGroup">
						<button class="btn btn-primary" onclick="$('form').submit()">
							<i class="fa fa-save" aria-hidden="true"></i> Save
						</button>
						<button class="btn btn-primary" onclick="location.href='{{ constant('SITE_URL') }}{{ path }}'">
							<i class="fa fa-eye" aria-hidden="true"></i> See
						</button>
						<button class="btn btn-primary" onclick="$.ajax({url:'{{ constant('ADMIN_PATH') }}{{ site }}/html'})">
							<i class="fa fa-send" aria-hidden="true"></i> Deploy
						</button>
					</div>
					<div class="btn-group  float-right" role="group" aria-label="starGroup">
						<div class="dropdown">
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <i class="fa fa-sign-language" aria-hidden="true"></i> Manage
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						  	{% for confsite in sites %}
						    <a class="dropdown-item" href="{{ constant('ADMIN_URL') }}{{ constant('ADMIN_PATH') }}{{ confsite }}/edit">
						    	{{ confsite }}
 							</a>
						    {% endfor %}
						  </div>
						</div>
					</div>
				</div>
				<form class="main-content" method="POST" action="{{ constant('ADMIN_PATH') }}edit">
				
				<textarea id="content" name="content">{{ markdown }}</textarea>
				
				</form>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
				<link rel="stylesheet" href="/static/simplemde/dist/simplemde.min.css">
				<script src="/static/simplemde/dist/simplemde.min.js"></script>
			</div>
			
		</div>
		
<script>
	new SimpleMDE({
		element: document.getElementById("content"),
		spellChecker: false,
	});
	$('.tree-toggle').click(function () {
		$(this).parent().children('ul.tree').toggle(200);
	});
	$(function(){
	$('.tree-toggle').parent().children('ul.tree').toggle(200);
	})
	
	$(function () {
	  $('[data-toggle="popover"]').popover({trigger:'hover'})
	})
	</script>

	</body>
</html>