{% if path %}
<ol class="breadcrumb">
{% for p in path|split('/') %}
{% if p %}
{% set purl = purl ~ '/' ~ p %}
<li class="breadcrumb-item"><a href="{{purl}}">{{ p }}</a></li>
{% endif %}
{% endfor %}
</ol>
{% endif %}
<article id="content">
	<header>
		{% if title %}<h1 class="">{{ title }}</h1>
		{% if author %}
			<em>by <a href="/user/{{author}}">{{author}}</a></em>
			<hr>
		{% endif %}
		{% if lead %}
		<div class="lead">{{ lead }}</div>
		{% endif %}
		{% endif %}
		
	</header>
	
	{% if category %}
		{{ category|raw }}
	{% endif %}
	
	
	{% if sommaire %}
		<div class="row">
			<div class="col">
				<div class="hidden-lg-up sommaire"></div>
				{{ include(template_from_string(content)) }}
			</div>
			<div class="col-3 hidden-md-down card">
				<div class="sommaire card-block"></div>
			</div>
		</div>
	{% else %}
		{{ include(template_from_string(content)) }}
	{% endif %}
	<footer>
		{% if tags %}
		Tags : 
		{% for tag in tags %}
			<a href="/tag/{{tag}}"><span class="label label-primary">{{tag}}</span></a> 
		{% endfor %}
		<hr>
		{% endif %}
		{% if showMarkdown %}
		<pre><code class="Markdown">{{ markdown }}</code></pre>
		{% endif %}
		<hr>
		{% if showChildren %}
		<div class="jumbotron">
			<div class="container">
		<div class="row">
			{% for child in page.getChildren() %}
			<div class="col-6 hovercat" onclick="location.href='{{ child.getHeader('path') }}'">
				{% if child.getHeader('draft')==false %}
				<div class="row">
					<div class="col-2">
						<a href="{{ child.getHeader('path') }}">
						{% if child.getHeader('icon') %}
						<i class="text-info fa fa-{{ child.getHeader('icon') }}" style="font-size: 3em;" aria-hidden="true"></i>
						{% else %}
							{% if child.getChildren() %}
							<i class="text-info fa fa-folder" style="font-size: 3em;" aria-hidden="true"></i>
							{% else %}
							<i class="text-info fa fa-file" style="font-size: 3em;" aria-hidden="true"></i>
							{% endif %}
						{% endif %}
						</a>
					</div>
					<dl class="col-10">
						<dt><a href="{{ child.getHeader('path') }}">{{ child.getHeader('title') }}</a></dt>
						<dd>
							{% if child.getHeader('description') %}
							{{ child.getHeader('description') }}
							{% endif %}<br>
							<span class="badge badge-info">{{ child.getHeader('updated') }}</span>
						</dd>
					</dl>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		</div>
		</div>
		<hr>
		{% endif %}
		
		{% if disqus == true %}
		<script id="dsq-count-scr" src="//benjaminbaschet.disqus.com/count.js" async></script>
		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function () {
		        this.page.url = "{{ url }}"; 
		        this.page.identifier = "{{ identifier }}"; 
		    };
		    
		    (function() {  
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//sensibilis.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}	
	
	</footer>
</article>