	{% if forkme %}
	<a href="{{ forkme }}" class="fork-me-on-github"><img src="/image/forkme.png" ></a>
	{% endif %}
	
	

    
    
	<nav class="container navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#">Benjamin Baschet</a>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
			<a class="nav-item nav-link" href="{{ constant('ADMIN_URL') }}{{ constant('ADMIN_PATH') }}{{ site }}/edit?path={{ path }}"><span class="fa fa-lock"></span></a>
	    </div>
	  </div>
	</nav>
	
	
	<header class="site-header">
		<div class="site-title">
		<a href="/">Benjamin Baschet</a>
		</div>
		<div class="site-slogan">Team leader et développeur PHP</div>
	</header>