	{% if forkme %}
	<a href="{{ forkme }}" class="fork-me-on-github"><img src="/image/forkme.png" ></a>
	{% endif %}
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<div class="container">
			<div class="navbar-header">
	            <a class="logo-top" href="/" data-toggle="tooltip" data-placement="bottom" title="Sensibilis"><img src="/image/phoenix.png" width="50" alt="Sensibilis"/></a>
	        </div>
			<ul class="nav navbar-nav" stop id="listActions">
				<li><a><span class="glyphicon glyphicon-camera"></span></a></li>
				<li><a><span class="glyphicon glyphicon-education"></span></a></li>
				<li><a><span class="glyphicon glyphicon-leaf"></span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
            	<li><a href="{{ constant('ADMIN_URL') }}{{ constant('ADMIN_PATH') }}{{ site }}/edit?path={{ path }}"><span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
		</div>
      	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
	
	<header class="site-header">
		<div class="site-title">
		<a href="/">Benjamin Baschet</a>
		</div>
		<div class="site-slogan">Team leader et développeur PHP</div>
	</header>